<div class="card-deck">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Florian Even</h1>
            <p class="card-text">Son mail : ouibonjour@gmail.com</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Samir Kettani</h1>
            <p class="card-text">Son mail : sasuke-53@hotmail.fr</p>
        </div>
    </div>
</div>