<h1> BZH TEAM </h1>

<p> Nous nous sommes rencontré sous le beau soleil de bretagne, moi samir et mon sensei flo.
 Il avait une belle chevelure, blond. On aurait dit un prince charmant. Sous ce soleil de plomb de bretagne il me tendit un shushen.
Après 8 verres nous visitons les rues de Rennes. Et voilla comment je me suis réveillé au côté de flo qui est devenu aujourd'hui mon compagnon pour ce project </p>